////variables/////
$primary: #0f172b;
$secondary: #fea116;


/////DIZAJN////

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
//////////////////////    HOME    ////////////////////////
//////////HEADER////////////
header{
    background-color: $primary;
    height: 15vh;
    border-bottom: 1px solid $secondary;

    .logo{
        h1{
            a{
                color: $secondary;
                font-family: "Josefin Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                
                transition: 0.3s all ease-in-out;
                &:hover{
                    color: white;
                }
            }

        }
    }
    nav{
        ul{
            li{
                list-style-type: none;
                display: inline-block;
                a{
                    text-transform: uppercase;
                    font-size: 20px;
                    color: $secondary;
                    text-decoration: none;
                    font-family: "Josefin Sans", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    
                    transition: 0.3s all ease-in-out;
                    &:hover{
                        color: white;
                    }
                }
                .active{
                    font-weight: 400;
                    font-size: 1.4em;
                }
            }
        }
    }
}
///////////// MAIN BODY /////////////////

main{
    .cover{
        background: url(../img/cover.jpg) center center / cover;
        height: 85vh;
        .shade{
            background-color: rgba($color: $primary, $alpha: 0.8);
            height: 100%;
            width: 100%;
            p{
                font-weight: 200;
            }
        }
    }
    #mainContent{
        div{
            div {
                .mainBlock{
                    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.10);
                    color: black;
                    transition: all ease-in-out 0.3s;
                    &:hover{
                        scale: 1.05;
                        box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.15);
                    }
                    #ikonicaSef{
                        width: 48px;
                    }
                    h4{
                        margin: 10px 0px;
                    }
                    p{
                        color: black;
                        font-size: 17px;
                        font-weight: 300;
                        margin: 0px;
                    }
                    i{
                        font-size: 48px;
                        color: $secondary;
                    }
                }
            }
        } 
    }
    #about{
        .container{
            .row{
                div{
                    h3{
                        color: $secondary;
                        border-bottom: $secondary 2px solid;
                        width: max-content;
                    }
                    p{
                        color: black;
                        font-weight: 300;
                    }
                }
                #aboutContent{
                    p{
                        font-size: 1.25rem;
                    }
                    .row{
                        div{
                            border-left: $secondary 3px solid;
                            h4{
                                color: $primary;
                                margin: 0;
                            }
                            p{
                                font-size: 1.25rem;
                                margin-bottom: 0;
                                span{
                                    font-weight: 400;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#booking{
    .container-fluid{
        border-top: $secondary 2px solid;
        padding: 0;
        background-color: $primary;
        .row{
            div{
                h2{
                    color: $secondary;
                    border-bottom: $secondary 2px solid;
                    width: max-content;
                }
                form{
                    .row{
                        div{
                            color: black;
                            input{
                                color: black;
                            }
                            select{
                                color: black;
                                option{
                                    color: black;
                                }
                            }
                            textarea{
                                color: black;
                                height: 130px;
                            }
                            button{
                                background-color: $secondary;
                                height: 50px;
                                font-size: 1.2em;
                                border: white 2px solid !important;
                                transition: all ease-in-out 0.3s;
                                &:hover{
                                    border-color: $secondary !important;
                                    color: $secondary;
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }
            #bookingImg{
                background: url(../img/booking.jpg) center center / cover;
            }
        }
    }
}
////////////////FOOTER//////////////
footer{
    border-top: $secondary 2px solid;
    .container{
        .row{
            div{
                h5{
                    color: black;
                    border-bottom: black 1px solid;
                    border-left: black 1px solid;
                    border-radius: 3px;
                    width: max-content;
                }
                ul{
                    list-style-type: none;
                    li{
                        color: black;
                        font-weight: 300;
                        i{
                            color: black;
                        }
                    }
                }
                p{
                    color: black;
                    font-weight: 300;
                }
                .socials{
                    li{
                        a{
                            
                            i{
                                font-size: 35px;
                                transition: all ease-in-out 0.2s;
                                &:hover{
                                    color: $secondary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
///////////////////////////   KRAJ HOME   //////////////////////////

/////////////////////////   AUTOR   //////////////////////////////

main{
    #autor{
        .container{
            .row{
                .justify-content-center{
                    border-right: $secondary 2px solid !important;
                }
                div{
                    h2{
                        color: black;
                    }
                    h3{
                        color: black;
                    }
                }
            }
        }
    }
}
.autorFooter{
    background-color: $primary;
    color: white;
    .container{
        .row{
            div{
                h5{
                    color: white;
                    border-bottom: white 1px solid;
                    border-left: white 1px solid;
                }
                ul{
                    list-style-type: none;
                    li{
                        color: white;
                        i{
                            color: white;
                        }
                    }
                }
                p{
                    color: white;
                }
            }
        }
    }
}

/////////////////////////   AUTOR   //////////////////////////////

////////////////////////////   TEAM   //////////////////////////////

#teamMain{
    .container{
        .row{
            .chef{
                .p-2{
                    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.2);
                    transition: all ease-in-out 0.3s;
                    &:hover{
                        scale: 1.1;
                    }
                }
                h3{
                    color: black;
                    font-size: 26px;
                }
                p{
                    color: grey;
                    font-weight: 300;
                }
            }
        }
    }
}

///////////////////////////////  KRAJ TEAM   ////////////////////////////// 
/// 
//////////////////////////////    CONTACT    /////////////////////////////

#contactMain{
    .container{
        .row{
            h3{
                color: $primary;
            }
            div{
                iframe{
                    height: 100%;
                    border: $primary 1px solid;
                }
                form{
                    div{
                        div{
                            input{
                                color: black;
                                border: 1px solid black;
                            }
                            textarea{
                                color: black;
                                border: 1px solid black;
                            }
                            button{
                                background-color: $primary;
                                border: $secondary 2px solid;
                                color: $secondary;
                                height: 50px;
                                font-size: 18px;
                                transition: all ease-in-out 0.3s;
                                &:hover{
                                    color: $primary;
                                    background-color: $secondary;
                                    border: $primary 2px solid;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//////////////////////////////    KRAJ CONTACT    /////////////////////////////